{% extends "base.html" %}

{% load account %}

{% block title %}Sign In{% endblock %}

{% block content %}
<div class="auth-overlay">
    <div class="auth-inset col-sm-offset-4 col-sm-4">
        <h1>Sign In</h1>
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <input id="id_login" class="form-control" maxlength="30" name="login" placeholder="Username" type="text" />{{ form.login.errors }}<br>
            <input id="id_password"  class="form-control" name="password" placeholder="Password" type="password" />{{ form.password.errors }}<br>
            <div class="remember-forgot-section">
                <input id="id_remember" name="remember" type="checkbox" />
                <label for="id_remember">Remember Me</label>
                <a class="forgot" href="{% url 'account_reset_password' %}">Forgot Password?</a>
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <button class="btn btn-default btn-block" type="submit">Sign In</button>
        </form>

        <div class="footnote">
            Don't have an account? <a href="{% url 'account_signup' %}">Sign Up</a>
        </div>
    </div>
</div>
{% endblock %}