$metisa-font-path: '../fonts';
$metisa-static-path: '../images';

$fa-font-path: "~font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "fonts";
@import "bootstrap";
@import "mixins";

html {
  height: 100%;
}

body {
  font-family: 'Proxima Nova', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  color: #484d52;
}

h1 {
  font-size: 28px;
  font-weight: 300;
}

h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 20px;
}

h4 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}

.one-page-fill {
  background-image: url('#{$metisa-static-path}/bg.png');
  background-size: cover;
  height: 100%;
  overflow-y: hidden;
}

.hero {
  h1 {
    font-size: 60px;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: #fff;
  }

  .content {
    padding: 70px 70px 150px;
  }
}

.hero-landing {
  position: relative;

  h2 {
    max-width: 650px;
  }
}

.section-landing {
  padding: 50px 70px;
}

.section-content {
  h1 {
    font-size: 24px;
    font-weight: bold;
    color: $text-color;
    margin-top: 30px;
    margin-bottom: 5px;
    color: $text-color;
  }
}

.section-inv {
  background-color: $gray-lighter;
}

.features {
  h4 {
    max-width: 600px;
  }

  .feature {
    text-align: center;

    img {
      margin: 30px 0px;
    }

    .brand-title {
      color: $brand-primary;
      margin-top: 30px;
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 2px;
    }

    .title {
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 15px;
    }

    .text {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 15px;
    }
  }

  &.features-center {
    h3 {
      text-align: center;
      font-weight: bold;
    }
  }

  img {
    width: 120px;
  }
}

.case-studies {
  padding: 0px;
  background-color: $brand-primary;

}

/* Navbar */
.navbar-toggle .icon-bar {
  background-color: #fff;
  height: 3px;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
  border-color: none;
}

.dropdown-menu-light {
  border: 0px;

  > li > a {
    color: $brand-primary;
    font-weight: 300;
    padding: 5px 15px;
    font-size: 16px;
    width: 100%;
  }
}

.dropdown-menu-sm {
  min-width: 0px;
  > li > a {
    font-size: 14px;
  }
}

.navbar {
  list-style-type: none;
  font-size: 16px;
  display: inline-block;
  color: #fff;
  width: 100%;
  padding: 30px 40px;

  .navbar-brand {
    padding: 6px 12px;
  }

  .contact {
    padding-top: 9px;
  }
}

.search-nav {
  .contact {
    padding-top: 13px;
    font-size: 16px;
    color: #fff;
  }
}

.nav {
  > li {
    margin-right: 15px;

    > a {
      color: #fff;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

.btn {
  font-size: 16px;
  font-weight: 300;
  border-radius: 3px;

  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.btn-default {
  color: #fff;
  background-color: transparent;
  padding: 10px 17px;
  border: 1px solid #fff;

  &:hover, &:focus, &:active {
    outline: none;
    border: 1px solid #fff !important;
    background-color: #fff !important;
    color: #42B89E;
  }
}

.btn-light {
  color: $brand-primary;
  background-color: #fff;
  border: 1px solid #fff;

  &:hover, &:focus, &:active {
    outline: none;
    border: 1px solid #fff !important;
    background-color: transparent !important;
    color: #fff;
  }
}

.btn-primary {
  color: $brand-primary;
  background-color: transparent;
  padding: 10px 17px;
  border: 1px solid $brand-primary;

  &:hover, &:focus, &:active {
    outline: none;
    border: 1px solid $brand-primary !important;
    background-color: $brand-primary !important;
    color: #fff;
  }
}

.btn-primary-accent {
  color: #fff;
  background-color: $brand-primary;
  padding: 10px 17px;
  border: 1px solid $brand-primary;

  &:hover, &:focus, &:active {
    outline: none;
    border: 1px solid $brand-primary-dark !important;
    background-color: $brand-primary-dark !important;
    color: #fff;
  }
}

.btn-sm {
  float: right;
  font-size: 16px;
  padding: 0px;
}

.footer {
  background-image: url('#{$metisa-static-path}/bg.png');
  background-size: cover;
  padding: 30px 15px;
  color: #fff;

  .copyright {
    text-align: center;
    margin-bottom: 5px;

    span {
      font-weight: bold;
      padding-right: 10px;

      > a {
        font-weight: 300;
        color: white;
      }
    }
  }

  .address {
    text-align: center;
  }
}

.footer-light {
  background-image: none;
  background-color: $gray-lighter;
  border-top: 1px solid $gray-light;
  color: $text-color;

  .copyright {
    text-align: center;
    margin-bottom: 5px;

    span {
      font-weight: bold;
      padding-right: 10px;

      > a {
        font-weight: 300;
        color: $text-color;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    .content {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .navbar {
    padding: 0px;

    .btn-default {
      text-align: left;
      border: 0px;

      &:hover, &:focus {
        background-color: transparent;
      }
    }
  }

  .section-landing {
    padding: 20px 15px;
  }

  .dropdown-menu > li > a {
    color: #fff;
  }
}

@import "graph";
@import "core";