<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FastSFC Disclosure Alert</title>
</head>
<body>
<div>
    <p>
        Hi {{ username }},
    </p>
    <p>
        <b>{{ company_name }} - {{ company_ticker }}</b>
    </p>
    <p>
        <a href="{{ document_url }}">{{ document_description }}</a>
        <br/>
        {{ document_date }}
    </p>
    <p>
        To stop receiving messages about this company, please unwatch the Company
        <a href="{{ company_url }}">here</a>
    </p>
</div>
</body>
</html>