{% extends "base.html" %}

{% block title %}Bummer - FastSFC{% endblock %}
{% block description %}Financials, prospectuses, news, proxies and other public documents for Hong Kong listed companies.{% endblock %}

{% block content %}

{% include 'includes/nav.html' %}

<section class="search-results container">
    <h1>Ticker "{{ ticker }}" does not exist</h1>

    <div class="search-results-empty">
        <p>Can't find what you're looking for? Reach out to us at hello@fastsfc.com.</p>
    </div>
</section>

{% include 'includes/footer_light.html' %}

{% endblock %}