<nav class="navbar navbar-dark">
  <div class="navbar-header">
    <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button> -->
    <a class="navbar-brand" href="/">
      <img class="brand" src="/static/img/logo.png" alt="BAMSFC - Get Hong Kong Stock Exchange Filings Fast"/>
    </a>
  </div>
  <div id="nav-menu" class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li class="contact">hello@fastsfc.com</li>
      <!-- {% if request.user.is_authenticated %}
      <li>
          <a class="dropdown-toggle" id="profile-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{ request.user }} <span class="fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-light dropdown-menu-sm" aria-labelledby="profile-dropdown">
              <li><a href="/profile">Profile</a></li>
              <li><a href="/logout">Logout</a></li>
          </ul>
      </li>
      {% else %}
      <li><a href="/login">Login</a></li>
      {% endif %} -->
    </ul>
  </div>
</nav>